@import "../variables";
@import "../helpers";

$duration: 500ms;

body:not(.no-animation) {
  header {
    .wrapper {
      opacity: 0;
      transform: translateY(-150%);
    }

    &.animate {
      .wrapper {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration * 2 ease-in-out;
      }
    }
  }

  section.right {
    h2 {
      opacity: 0;
      transform: translateX(-100%);

      &::after {
        opacity: 0;
        width: 0;
      }
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration ease-in-out;

        &::after {
          opacity: 1;
          width: 85vw;
          transition: all $duration $duration ease-in-out;

          @media screen and #{map-get($breakpoints, xsmall)} {
            width: 80vw;
          }

          @media screen and #{map-get($breakpoints, m)} {
            width: 45vw;
          }
        }
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }

  section.left {
    h2 {
      opacity: 0;
      transform: translateX(-100%);

      @media screen and #{map-get($breakpoints, m)} {
        transform: translateX(100%);
      }

      &::after {
        opacity: 0;
        width: 0;
      }
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translateX(0%);
        transition: all $duration ease-in-out;

        &::after {
          opacity: 1;
          width: 85vw;
          transition: all $duration $duration ease-in-out;

          @media screen and #{map-get($breakpoints, xsmall)} {
            width: 80vw;
          }

          @media screen and #{map-get($breakpoints, m)} {
            width: 30vw;
          }
        }
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }

  section.center {
    h2 {
      opacity: 0;
      transform: translate(-50%, -100%);

      &::after {
        opacity: 0;
        width: 0;
      }
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translate(-50%, 0%);
        transition: all $duration ease-in-out;

        &::after {
          opacity: 1;
          width: 70vw;
          transition: all $duration $duration ease-in-out;

          @media screen and #{map-get($breakpoints, xsmall)} {
            width: 80vw;
          }

          @media screen and #{map-get($breakpoints, m)} {
            width: 50vw;
          }
        }
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }
}
