@import "../variables";
@import "../helpers";

$duration: 500ms;

body:not(.no-animation) {
  header {
    .wrapper {
      opacity: 0;
      transform: translateY(-150%);
    }

    &.animate {
      .wrapper {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration * 2 ease-in-out;
      }
    }
  }

  section.right {
    h2 {
      opacity: 0;
      transform: translateX(-100%);
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration ease-in-out;
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }

  section.left {
    h2 {
      opacity: 0;
      transform: translateX(-100%);

      @media screen and #{map-get($breakpoints, m)} {
        transform: translateX(100%);
      }
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translateX(0%);
        transition: all $duration ease-in-out;
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }

  section.center {
    h2 {
      opacity: 0;
      transform: translate(-50%, -100%);
    }

    .inner-content {
      opacity: 0;
      transform: translateY(50%);
    }

    &.animate {
      h2 {
        opacity: 1;
        transform: translate(-50%, 0%);
        transition: all $duration ease-in-out;
      }

      .inner-content {
        opacity: 1;
        transform: translateY(0%);
        transition: all $duration $duration / 2 ease-in-out;
      }
    }
  }

  section {
    .content::before {
      opacity: 0;
      transition: all $duration $duration ease-in;
    }

    .content-deco::before,
    .content-deco::after {
      opacity: 0;
      transition: all $duration $duration * 1.5 ease-in;
    }
    .content-deco::before {
      transform: translate(-66%, -27%);
    }

    .content-deco::after {
      transform: translate(66%, 37%);
    }

    &.animate {
      .content::before {
        opacity: 1;
      }

      .content-deco::before {
        opacity: 1;
        transform: translate(-66%, -17%);
      }

      .content-deco::after {
        opacity: 1;
        transform: translate(66%, 27%);
      }
    }

    .img-deco.last {
      opacity: 0;
      left: 50%;
      transition: all $duration $duration * 1.5 ease-in-out;
    }

    .img-deco.first {
      opacity: 0;
      left: 25%;
      transition: all $duration $duration * 2 ease-in-out;
    }

    .img-deco.middle {
      opacity: 0;
      left: 34%;
      transition: all $duration $duration * 2 ease-in-out;
    }

    &.left {
      .img-deco.last {
        left: 50%;
      }

      .img-deco.first {
        left: 75%;
      }

      .img-deco.middle {
        left: 66%;
      }
    }

    &.animate {
      .img-deco.last {
        left: $organization-last-left;
        opacity: 1;
      }
      .img-deco.first {
        left: $organization-first-left;
        opacity: 1;
      }

      .img-deco.middle {
        left: $organization-middle-left;
        opacity: 1;
      }

      &.left {
        .img-deco.last {
          left: $organization-last-right;
        }
        .img-deco.first {
          left: $organization-first-right;
        }

        .img-deco.middle {
          left: $organization-middle-right;
        }
      }
    }
  }

  section.group-fb {
    .fb-link-wrapper {
      opacity: 0;
      transition: all $duration $duration * 3 ease-in;
    }

    &.animate {
      .fb-link-wrapper {
        opacity: 1;
      }
    }
  }
}
