@import "../variables";
@import "../helpers";

header {
  @extend %full-height;
  color: map-get($theme-foreground, text-contrast);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  h1 {
    font-weight: normal;
  }

  .logo {
    img {
      width: 150px;
    }
  }

  @media screen and (orientation: portrait) {
    background-image: url("/public/images/annee-japon-header-portrait-uhd-tiny.jpg");
  }

  @media screen and (orientation: landscape) {
    background-image: url("/public/images/annee-japon-header-landscape-uhd-tiny.jpg");
  }
}
