@import "../variables";
@import "../helpers";

section {
  @extend %full-height;
  position: relative;
  z-index: 1;

  h2 {
    font-size: $section-title-fz - 0.2rem;
    font-weight: normal;
    position: absolute;

    @media screen and #{map-get($breakpoints, small)} {
      font-size: $section-title-fz;
    }
  }

  .img-deco {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    &.first {
      width: 290px;
      left: $organization-first-left;
      z-index: 0;
    }

    &.middle {
      width: 330px;
      left: $organization-middle-left;
      z-index: 1;
    }

    &.last {
      left: $organization-last-left;
      z-index: 2;
    }

    @media screen and #{map-get($breakpoints, m)} {
      display: initial;
    }
  }

  &.left {
    &.first {
      left: $organization-first-right;
    }

    &.middle {
      left: $organization-middle-right;
    }

    &.last {
      left: $organization-last-right;
    }
  }

  .content-deco {
    &::before,
    &::after {
      position: absolute;
      color: map-get($theme-foreground, outline);
      background-size: auto;
      width: 50px;
      height: 175px;
    }

    &::before {
      content: "";
      background: url("/public/images/corner-top-left-2-tiny.png");
      background-position: top left;
      top: -$spacing;
      left: -$spacing;
    }

    &::after {
      content: "";
      background: url("/public/images/corner-bottom-right-2-tiny.png");
      background-position: bottom right;
      bottom: -$spacing;
      right: -$spacing;
    }
  }

  .content {
    padding: $spacing * 4;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw;
    box-sizing: border-box;
    font-size: 1.4rem;
    z-index: 4;

    h2::first-letter {
      font-size: $default-fz * 3;
      color: map-get($theme-foreground, text-contrast);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media screen and #{map-get($breakpoints, small)} {
      font-size: 1.6rem;
    }

    @media screen and #{map-get($breakpoints, m)} {
      width: 42vw;
      font-size: 1.8rem;
    }
  }

  .inner-content {
    margin-top: calc(#{$spacing * 7} + #{$section-title-fz});
  }

  p {
    text-indent: 1.5rem;

    &::first-letter {
      font-size: $default-fz + 0.4rem;
      color: map-get($theme-foreground, text-shiny);
    }
  }

  &.right {
    .content {
      h2 {
        &::after {
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        transform: translate(-5%, -50%);
      }

      h2 {
        &::after {
          width: 52vw;
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
  }

  &.left {
    .content {
      h2 {
        &::after {
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        transform: translate(-80%, -50%);

        h2 {
          &::after {
            right: 0;
            left: unset;
            transform: translateX(5%);
            width: 30vw;
            background: linear-gradient(to left, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
          }
        }
      }
    }
  }

  &.center {
    .content {
      width: 100%;

      h2 {
        left: 50vw;

        &::after {
          width: 50vw;
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        h2 {
          &::after {
            background: linear-gradient(to right, rgba(42, 42, 42, 1), rgba(42, 42, 42, 0));
          }
        }
      }
    }
  }

  &.organization {
    background: map-get($theme-background, secondary-bg);
    background-image: url("/public/images/japon-4-bg-landscape-uhd-3-tiny.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($theme-foreground, text);

    .content::before {
      background: map-get($theme-background, secondary-bg);
    }
  }

  &.group-fb {
    background: map-get($theme-background, primary-bg);
    color: map-get($theme-foreground, text);
    background-image: url("/public/images/grenoble-bg-landscape-1-uhd-tiny.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .content::before {
      background: map-get($theme-background, primary-bg);
    }

    .fb-link {
      position: relative;
      display: block;
      border-radius: 50%;
      border: 2px solid transparent;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      transition: all 330ms ease-in;

      &:focus,
      &:hover {
        outline: none;
        border: 2px solid map-get($theme-foreground, text);
      }

      span {
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        opacity: 0;
        overflow: hidden;
      }

      img {
        width: 72px;
        height: auto;
        display: block;
        padding: 0;
        margin: 0;

        @media screen and #{map-get($breakpoints, xsmall)} {
          width: 42px;
        }
      }
    }
  }

  &.activity {
    min-height: 100vh;
    height: auto;

    .content {
      position: static;
      top: 0;
      left: 0;
      transform: none;

      h2 {
        padding-top: $spacing * 9;
        width: 70%;
      }
    }

    .inner-content {
      margin-top: calc(#{$spacing * 17} + #{$section-title-fz});
    }

    li {
      color: map-get($theme-foreground, text);

      &:nth-child(1n) {
        background: map-get($theme-background, footer);
      }
      &:nth-child(2n) {
        background: map-get($theme-background, secondary-bg);
      }
      &:nth-child(3n) {
        background: map-get($theme-background, lang);
      }
      &:nth-child(4n) {
        background: map-get($theme-background, lang);
      }
      &:nth-child(5n) {
        background: map-get($theme-background, primary-bg);
      }
      &:nth-child(6n) {
        background: map-get($theme-background, secondary-bg);
      }
      &:nth-child(7n) {
        background: map-get($theme-background, primary-bg);
      }
      &:nth-child(8n) {
        background: map-get($theme-background, footer);
      }
    }

    @media screen and #{map-get($breakpoints, m)} {
      .content {
        width: 75vw;
        min-height: 100vh;
        margin: auto;
        padding-bottom: 64px;
      }
      .inner-content {
        width: 100%;
        margin-top: calc(#{$spacing * 23} + #{$section-title-fz});
        height: calc(100% - (#{$spacing * 23} + #{$section-title-fz}));

        ul {
          height: 90%;
        }
      }
    }
  }

  &:last-of-type {
    &::before {
      content: "";
      background: map-get($theme-background, background);
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0 0 64px rgba(0, 0, 0, 0.8);
      z-index: -1;
    }
  }
}
