@import "../variables";
@import "../helpers";

section {
  @extend %full-height;
  position: relative;
  z-index: 1;

  h2 {
    font-size: $section-title-fz;
    font-weight: normal;
    position: absolute;

    @media screen and #{map-get($breakpoints, xsmall)} {
      font-size: $section-title-fz - 0.2rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 85vw;
      height: 1px;
      background: black;
      transform: translateX(-5%);

      @media screen and #{map-get($breakpoints, xsmall)} {
        width: 80vw;
      }
    }
  }

  .content {
    padding: $spacing * 2;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw;
    box-sizing: border-box;

    h2::first-letter {
      font-size: $default-fz * 3;
      color: map-get($theme-foreground, text-contrast);
    }

    @media screen and #{map-get($breakpoints, m)} {
      width: 42vw;
    }
  }

  .inner-content {
    margin-top: calc(#{$spacing * 7} + #{$section-title-fz});
  }

  p {
    text-indent: 1.5rem;

    &::first-letter {
      font-size: $default-fz + 0.4rem;
      color: map-get($theme-foreground, text-shiny);
    }
  }

  &.right {
    .content {
      h2 {
        &::after {
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        transform: translate(-5%, -50%);
      }

      h2 {
        &::after {
          width: 52vw;
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
  }

  &.left {
    .content {
      h2 {
        &::after {
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        transform: translate(-80%, -50%);

        h2 {
          &::after {
            right: 0;
            left: unset;
            transform: translateX(5%);
            width: 30vw;
            background: linear-gradient(to left, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
          }
        }
      }
    }
  }

  &.center {
    .content {
      width: 100%;

      h2 {
        left: 50vw;

        &::after {
          width: 50vw;
          background: linear-gradient(to right, rgba(42, 42, 42, 1) 50%, rgba(42, 42, 42, 0));
        }
      }
    }
    @media screen and #{map-get($breakpoints, m)} {
      .content {
        h2 {
          &::after {
            background: linear-gradient(to right, rgba(42, 42, 42, 1), rgba(42, 42, 42, 0));
          }
        }
      }
    }
  }

  &.organization {
    background: map-get($theme-background, secondary-bg);
    color: map-get($theme-foreground, text);
  }

  &.group-fb {
    background: map-get($theme-background, primary-bg);
    color: map-get($theme-foreground, text);
  }

  &.activity {
    min-height: 100vh;
    height: auto;

    .content {
      position: static;
      top: 0;
      left: 0;
      transform: none;

      h2 {
        padding-top: $spacing * 9;
        width: 70%;
      }
    }

    .inner-content {
      margin-top: calc(#{$spacing * 17} + #{$section-title-fz});
    }

    li {
      color: map-get($theme-foreground, text);

      &:nth-child(1n) {
        background: map-get($theme-background, footer);
      }
      &:nth-child(2n) {
        background: map-get($theme-background, secondary-bg);
      }
      &:nth-child(3n) {
        background: map-get($theme-background, lang);
      }
      &:nth-child(4n) {
        background: map-get($theme-background, lang);
      }
      &:nth-child(5n) {
        background: map-get($theme-background, primary-bg);
      }
      &:nth-child(6n) {
        background: map-get($theme-background, secondary-bg);
      }
      &:nth-child(7n) {
        background: map-get($theme-background, primary-bg);
      }
      &:nth-child(8n) {
        background: map-get($theme-background, footer);
      }
    }

    @media screen and #{map-get($breakpoints, m)} {
      .content {
        width: 75vw;
        height: 100vh;
        margin: auto;
      }
      .inner-content {
        width: 100%;
        margin-top: calc(#{$spacing * 23} + #{$section-title-fz});
        height: calc(100% - (#{$spacing * 23} + #{$section-title-fz}));

        ul {
          height: 90%;
        }
      }
    }
  }

  &:last-of-type {
    &::before {
      content: "";
      background: map-get($theme-background, background);
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0 0 64px rgba(0, 0, 0, 0.8);
      z-index: -1;
    }
  }
}
