@import "./variables";
@import "./helpers";

.layout {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-around {
    justify-content: space-around;
  }
  &.jc-between {
    justify-content: space-between;
  }

  &.ai-center {
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.m-row {
    @media screen and #{map-get($breakpoints, m)} {
      flex-direction: row;
    }
  }

  > .flex {
    flex: 1;
  }
}

.square-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  > li {
    margin: $spacing 0;
    box-sizing: border-box;
    padding: $spacing * 2;
    background: shade(map-get($theme-background, background), 5%);
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $default-fz + 0.3;

    &:nth-child(9) {
      flex: 1 1 100%;
    }

    @media screen and #{map-get($breakpoints, m)} {
      margin: $spacing;
      flex: 1 0 25%;
      padding: $spacing * 4;
    }
  }
}

.text-start {
  text-align: start;
}
