@import "./variables";

@import "./heading";

@import "./components/header";
@import "./components/footer";
@import "./components/sections";
@import "./components/carousel";
@import "./components/lang-switcher";
@import "./components/animations";

html {
  font-size: 10px;
}

body {
  color: map-get($theme-foreground, text-contrast);
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: $default-fz;
  background: map-get($theme-background, background);
}

.container {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y proximity;

  > * {
    scroll-snap-align: center;
  }
}
